.artists {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .artists::-webkit-scrollbar {
    display: none;
  }

.main-track:hover {
  text-decoration: underline solid black;
}

.track-artist:hover {
  text-decoration: underline solid grey;
  opacity: 0.7;
}

.artis-selection:hover {
  background-color: rgba(166, 230, 100,0.7);
}